/* header section */
header {
	max-width: 100%;
	margin: 0 auto;
	width: 100%;
	height: 122px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: var(--background-color);
}
header img {
	width: auto;
	height: 100px;
}

nav a {
	padding: 20px 10px;
	font-size: 1.5em;
	text-align: center;
	color: var(--text-on-light);
}
h1 {
	text-align: center;
}
