/* donations section */
#donations {
	background-image: url(https://picsum.photos/400/400);
	width: 400px;
	margin-left: 30px;
	color: white;
}

#scholarship {
	width: 100%;
	grid-column: 1 / 3;
}

/* another section */
#packet embed {
	width: 100%;
	height: 50%;
}
#scholarship {
	width: 100%;
	grid-column: 1 / 3;
}

#packet {
	width: 75%;
	height: 500px;
	grid-column: 1 / 3;
	margin: auto;
}

#donations-main {
	display: grid;
}

#packet embed {
	width: 100%;
	height: 50%;
}

#donations {
	margin-left: -20px;
}

#section-2 {
	display: flex;
	justify-content: space-around;
	margin-left: 100px;
}
