#packet embed{
    width: 100%;
    height: 50%;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

#scholarship {
    width: 100%;
    grid-column: 1 / 3;
}

#packet {
    width: 75%;
    height: 500px;
    grid-column: 1 / 3;
}

#packet {
    margin: auto;
}

#donations {
    margin-left: -20px;
}

header, main, footer {
    background-color: #f3ebd8;
}

#section-2 {
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
}

#donations {
    background-image: url(https://picsum.photos/400/400);
    width: 400px;
    margin-left: 30px;
    color: white;
}

nav {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-evenly;
    background-color: brown;
}
nav .nav-button {
    font-size: 2em;
}