#packet embed{
    width: 100%;
    height: 50%;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#scholarship {
    width: 100%;
    grid-column: 1 / 3;
}

#packet {
    width: 100%;
    height: 500px;
    grid-column: 1 / 3;
}