.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-content {
  background-color: #6b8361;
  padding: 2rem;
  border-radius: 10px;
  max-width: 90vw;
  max-height: 90vh;
  overflow: auto;
}