/* Shared styles for each page */

@import 'shared/variables.css';
@import 'shared/header.css';
@import 'shared/footer.css';

body {
	background-color: var(--primary-color);
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #f3ebd8;
	padding: 20px;
	font-family:  var(--paragraph-font);
}

h1, h2, h3, span{
	font-family: var(--heading-font);
}

p{
	font-family:  var(--paragraph-font);
}