@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');header {
    background-color: #6b8361;
    max-width: 100%;
    margin: 0 auto;
}
#logo {
    background-color: #6b8361;
    width: 160px;
    height: 160px;
    border-radius: 100px;
}
a {
    text-decoration: none;
}
#hero {
    max-width: 100%;
    height: 500px;
    margin: 0 auto;
}
body {
    margin: 0;
    padding: 0;
}
main {
    /* display: grid; 
    grid-template-columns: 1fr 1fr;*/
    width: 80%;
    margin: 0 auto;
    background-color: #6b8361;
}
footer {
    width: 100%;
    height: 100px;
    background-color: #6b8361;
}

.profiles {
    display: grid;
    grid-template-columns: 350px 1fr;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    text-align: center;
    place-items: center;
    color: #f3ebd8;
}
.profiles p {
    font-family: "Stack Sans Headline", arial, sans-serif;
    font-size: 2em;
    padding-right: 5px;
    text-align: left;
}
.profiles h2, h3 {
    margin: 6px;
}

.profile-pic {
    width: 320px;
    height: 470px;
    margin: 10px;
    border-radius: 30px;
    background-color: #c79b42;
}
.profile-pic img {
    width: 260px;
    height: 363px;
    border-radius: 30px;
    margin-top: 25px;
}
.names {
    font-family: "Playpen Sans", arial, sans-serif;
    text-align: center;
    font-size: 1.4em;
    display: block;
}
@media screen and (max-width: 768px){
    
}

