.hero-carousel {
	width: 100%;
	height: 400px;
}

.profiles {
	display: grid;
	grid-template-columns: 400px 1fr;
	justify-content: center;
	gap: 15px;
	margin: 0 auto;
	text-align: center;
	place-items: center;
}
.profiles h2,
h3 {
	margin: 6px;
}
