/*
  To import this file, use this syntax
  @import url(./variables.css);

  Read about CSS variables: https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Cascading_variables/Using_custom_properties
*/

@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap');

:root {
  --primary-color: #0498d5;
  --secondary-color: #088ac2;

  --text-on-dark: #bcd631;
  --text-on-light: #1ab369;
  --background-color: white;
  --heading-font: "Stack Sans Headline", arial, sans-serif;
  --paragraph-font: "Playpen Sans", arial, sans-serif;
}