/*
  To import this file, use this syntax
  @import "./variables.css";

  Read about CSS variables: https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Cascading_variables/Using_custom_properties
*/

@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap');

:root {
  --primary-color: #3b5b56;
  --secondary-color: #f3ebd8;

  --text-on-dark: #eeebe4;
  --text-on-light: #021b01;

  --heading-font: "Stack Sans Headline", arial, sans-serif;
  --paragraph-font: "Playpen Sans", arial, sans-serif;
}